.button{
    outline: none;
    width: max-content;
    background-color: rgb(26, 114, 134);
    color: white;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button:hover{
    background-color: rgb(62, 26, 134);
}